
body {
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 1.2;
    margin: 15px;
    width: 600px;
    max-width: 90%;
/*
    background-color: #0071bc;
    background-image: linear-gradient(#0071bc 66%, #003366 100%);
    color: #FFF;
*/
}

ul {
    line-height: 150%;
    padding-top: 0px;
    padding-left: 30px;
}

ul li {
    margin-top: 20px;
}

.clear {
    clear: both;
}

.heading {
    margin-top: 20px;
    font-size: 150%;
    font-weight: bold;
}

.heading2 {
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 125%;
    font-weight: bold;
}

.emoji {
    width: 64px;
}

.question {
    margin-top: 30px;
    font-size: 110%;
    font-style: italic
}

#answers {
    margin-top: 20px;
    font-size: 110%;
    width: 400px;
}

.answer {
    margin-top: 10px;
    font-size: 110%;
    font-style: normal;
}

#states {
    margin-top: 50px;
    width: 400px;
    max-width: 80%;
    font-size: 75%;
}

#footer {
    margin-top: 20px;
    width: 400px;
    max-width: 80%;
    font-size: 75%;
}

/*
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    body {
	font-size: 150%;
	width: 1000px;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
    body {
	font-size: 200%;
	width: 1000px;
    }
}
*/
